$grey: #607D8B
$white: rgba(white, .87)

// @import helper/media

body
	background: #ECEFF1

h2
	color: #01579B
p
	margin-bottom: .5rem

.header-class, .footer-class
	padding: 1rem
	background: $grey
	color: $white
.main-class
	padding-bottom: 1rem
	> .content
		lost-column: 3/4
	> .right
		lost-column: 1/4
		> .fixed-block
			background: #FFF
			border: 1px solid #555
			border: 1px solid rgba(black, .1)
			border-radius: .5rem
.footer-class a
	color: $white
	&:hover, &:focus
		color: white
.syntaxhighlighter
	padding: 1rem

.charts-block
	width: 100%
	height: 300px
	table
		width: auto